div.ui-select {
  width: 100%;
}

div.ui-select>div{
  width: 100%;
  display: flex;
}

div.ui-select ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  /*width: 100%;*/
}


div.ui-select, div.ui-select ul li {
  width: 100%;
  border: solid 1px var(--default);
  border-radius: .5em;
  padding: 0.5em;
  display: flex;
}

div.ui-select ul li.active.item-selector {
  color: var(--primary);
}

 {

}
div.ui-select div.text {
  display: flex;
  flex-basis: 70%;
  justify-content: flex-start;
}
div.ui-select div.icon {
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
  transform: rotate(0deg);
}

div.ui-select ul li:not(.active) {
  display: none;
}

div.ui-select ul li:not(.active) div.icon{
  display: none;
}